os: osx
branches:
  only:
  - master
language: objective-c
jdk:
- oraclejdk8
before_script:
- brew update >brew-update.log
- brew install ant >brew-install.log
- brew tap caskroom/cask
- brew install brew-cask
- brew cask install java
- java -version
script: cd ./modules && ant
before_deploy:
- cd $TRAVIS_BUILD_DIR
- wget -O flex_sdk.zip http://mirrors.gigenet.com/apache/flex/4.14.1/binaries/apache-flex-sdk-4.14.1-bin.zip
- unzip -q flex_sdk.zip -d flex_sdk_win
- cp -r lib flex_sdk_win/liblc
- zip -r flex_sdk_win.zip flex_sdk_win
- wget -O flex_sdk.tar.gz http://archive.eu.apache.org/dist/flex/4.14.1/binaries/apache-flex-sdk-4.14.1-bin.tar.gz
- mkdir -p flex_sdk_mac
- tar zxf flex_sdk.tar.gz -C flex_sdk_mac
- cp -r lib flex_sdk_mac/liblc
- tar -czf flex_sdk_mac.tar.gz flex_sdk_mac
deploy:
  provider: releases
  api_key:
    secure: UV8Mro5LwKKGYvhTcIvfH/+ZRvUEsOATKnxXV8LWWxHeIJkwk8fCBCpKk4lEJ2Ft8UISz80MnN00ZYGukNZaU2KxmqSi2geqeANZFDRG+s7Ok4JH3P+s0wR5XZ80N9AkIu+RaLTlNMTo6zhnjsp/rZXqhoNcnsavVmwyamirueA=
  file:
  - flex_sdk_win.zip
  - flex_sdk_mac.tar.gz
  skip_cleanup: true
  on:
    repo: code-orchestra/flex-sdk-livecoding
